
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inspiration&family=Montserrat:wght@300&display=swap');
/*default*/




.navbar-brand :hover{
  color:#fba419;


}
.navbar{
  background-color: darkslategrey;
  
}

/*Navbar CSS left*/

#h1 :hover{

  color:#fba419;
  
}



#bold{
  font-weight: bolder;
}

*{
  
  font-family: 'Amiri', serif;
}

a{
  color: white;
  text-decoration: none;
}

/*Navbar CSS right*/

li a:hover{
  color:#fba419;
}

li{
  font-size: large;
}

ul li a {
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}




  /*hover in btn "EXPLORE"*/

  .col-12 button:hover {
    background: #fba419;
  }

  .btn{
    background: white;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    
    
   
  }

  b{
    font-family: 'Montserrat', sans-serif;
  }
  
  

  /*toggler*/


  .custom-toggler-icon span {
    display: block;
    width: 20px;
    height: 2px;
    background: rgb(251, 164, 25);
    margin: 8px 0;
  }
  .custom-toggler-icon::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: rgb(251, 164, 25);
  }
  .custom-toggler-icon::before {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: rgb(251, 164, 25);
  }


    

  #bicol{
    font-family: 'Kaushan Script', cursive;

  }


  /*card*/

  #img-top{
  
    max-height: 30vh;
    object-fit: cover;
  }
  
  

  #card-link :hover{
    color:#fba419;
  }

  




.row{
  padding: 0;
  margin: 0;
  transform: translateY(100%);
  opacity: 0;
  animation: slide-in-anim 1.5s ease-out forwards;
}

@keyframes slide-in-anim {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateY(1%);
  }
  75% {
    transform: translateY(1%);
  }
  100% {
    opacity: 1;
    transform: translateY(9%);
  }
}



a h5 {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a h5::before,
a h5::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
a h5::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
a h5::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

a h5:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
a h5:hover::after {
  transform: translate3d(0, 0, 0);
}

a h5 span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a h5:hover span {
  transform: translate3d(-200%, 0, 0);
}



#shadow{
  transition: all 0.1 ease-in;
  cursor: pointer;
}

#shadow:hover{
  box-shadow: 0px 0px 0px 0px;
  transform: scale(1.1);
}


